*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}



body{

display:flex;

background:#f4f7fc;

}





.sidebar{


width:260px;

height:100vh;

background:#1e293b;


padding:30px;

position:fixed;


color:white;


}




.sidebar h2{

margin-bottom:40px;

}



.sidebar li{


padding:15px;

list-style:none;

cursor:pointer;

margin-bottom:10px;


border-radius:10px;


transition:.3s;


}




.sidebar li{

display:flex;
align-items:center;
gap:12px;

padding:14px;

border-radius:12px;

cursor:pointer;

transition:0.3s;

}


.sidebar li:hover{

background:#F2F2F7;

color:#007AFF;

}


.sidebar ion-icon{

font-size:22px;

color:#fcfdfe;

}

.sidebar li.active{

    background:#e3e5e7;

    color: #007AFF;
;

}


.sidebar li.active ion-icon{

color:#007AFF;

}

.sidebar li:hover ion-icon{

color:#007AFF;

}




.content{


margin-left:260px;

padding:30px;

width:100%;


}



header{


display:flex;

justify-content:space-between;

margin-bottom:40px;

}



header input{

padding:12px;
background:#1605051a;
width:300px;
border:none;
border-radius:10px;
}

section{

display:none;

animation:fade .4s ease;

}



@keyframes fade{

from{

opacity:0;
transform:translateY(15px);

}

to{

opacity:1;
transform:translateY(0);

}

}

.cards{


display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:20px;


}



.card{


background:rgb(242, 242, 245);


padding:25px;


border-radius:16px;


box-shadow:0 5px 15px #00000036;


transition:.2s;


}



.card:hover{


transform:translateY(-5px);


}




section{


display:none;


animation:fade .5s;


}



section{
display:none;
}




@keyframes fade{


from{


opacity:0;

transform:translateY(20px);


}



to{


opacity:1;

transform:translateY(0);


}


}
